<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<section class="hero" id="about">
      <%= image_tag "skullprofile.jpeg" %>

      <div class="bio animate__animated animate__shakeX">
        <h2 class="bio-title">Welcome</h2>
        <p class="bio-text">
        Welcome to my professional portfolio! I am a web developer with a passion for creating innovative and user-friendly websites. With 1 year of experience in the field, I have honed my skills in front-end and back-end development, as well as UI/UX design.

        On this website, you will find a showcase of my recent projects, demonstrating my proficiency in various technologies such as HTML5, CSS3, JavaScript, Ruby on Rails, and more. Each project reflects my commitment to quality and attention to detail.

        Feel free to explore my portfolio and get in touch if you have any inquiries or would like to collaborate on a project. Thank you for visiting!
        </p>
      </div>
</section>

<footer class="footer">
        <p>&copy; 2024 Dante Donaldson. All Rights Reserved.</p>
    </footer>