<h1>Pages#work</h1>
<p>Find me in app/views/pages/work.html.erb</p>

<section class="projects" id="projects">
  <h2 class="projects-title">Some of my Recent Projects</h2>
  <div class="projects-container">
    <div class="project-container project-card">
      <%= image_tag "expenseTracker.png", alt: "expense-tracker", loading: "lazy", class: "project-pic" %>
      <h3 class="project-title">Expense Tracker</h3>
      <p class="project-details">
        The Expense Tracker is a web application designed to help users manage their finances by tracking their expenses and income. Users can create accounts, log in, and add transactions with details such as category, amount, and date. 
        The application provides visual representations of the user's financial data, including charts and graphs to help them analyze their spending patterns. 
        The Expense Tracker is built using HTML, CSS, and JavaScript for the front end, and Ruby on Rails for the back end.
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <%= image_tag "netflixClone.png", alt: "netflic-clone", loading: "lazy", class: "project-pic" %>
      <h3 class="project-title">Netflix Clone</h3>
      <p class="project-details">
        The Netflix Clone is a front-end project that replicates the user interface of the popular streaming service, Netflix. It allows users to browse movies and TV shows, view details about each title, and play trailers. 
        The project uses React.js for the front end, fetching movie data from the TMDB API. 
        The Netflix Clone also features responsive design, allowing users to access the site from desktops, tablets, and mobile devices.
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <%= image_tag "greenyEarth.png", alt: "greeny-earth", loading: "lazy", class: "project-pic" %>
      <h3 class="project-title">Greeny Earth</h3>
      <p class="project-details">
        The Blog on Greeny Earth is a blog website dedicated to environmental issues and sustainability. It features articles, photos, and videos related to topics such as climate change, renewable energy, and eco-friendly living. 
        The blog is built using HTML, CSS, and JavaScript for the front end, and Ruby on Rails for the back end. 
        Users can read articles, leave comments, and share posts on social media platforms, making it a hub for environmental enthusiasts to engage with content and contribute to the discussion on environmental conservation.
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
  </div>
</section>

<footer class="footer">
        <p>&copy; 2024 Dante Donaldson. All Rights Reserved.</p>
    </footer>
